In [89]:
import pandas
from glob import glob
import numpy

In [90]:
data_floder='D:\Projects\IBM-Stocks'
data_files=glob('%s/IBM-2021.csv'%data_floder)
datao_files=glob('%s/ORCL (1).csv'%data_floder)

In [91]:
dataframe_2021 = pandas.read_csv(data_files[0])
datao=pandas.read_csv(datao_files[0])

In [92]:
dataframe_2021

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-01-04,125.849998,125.919998,123.040001,123.940002,119.577530,5179200
1,2021-01-05,125.010002,126.680000,124.610001,126.139999,121.700096,6114600
2,2021-01-06,126.900002,131.880005,126.720001,129.289993,124.739220,7956700
3,2021-01-07,130.039993,130.460007,128.259995,128.990005,124.449783,4507400
4,2021-01-08,128.570007,129.320007,126.980003,128.529999,124.005974,4676200
...,...,...,...,...,...,...,...
176,2021-09-15,136.220001,137.800003,135.669998,137.199997,137.199997,3253900
177,2021-09-16,137.279999,137.949997,135.710007,136.429993,136.429993,2644000
178,2021-09-17,135.750000,135.919998,135.050003,135.229996,135.229996,5631300
179,2021-09-20,133.899994,135.179993,132.779999,134.309998,134.309998,4770700
180,2021-09-21,135.110001,135.639999,132.869995,132.970001,132.970001,4042768

In [93]:
datao

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-01-04,64.690002,64.699997,63.169998,63.750000,63.001003,11249900
1,2021-01-05,63.680000,63.790001,62.480000,62.959999,62.220284,11005700
2,2021-01-06,62.270000,63.349998,61.910000,62.570000,62.071476,8685400
3,2021-01-07,62.849998,63.740002,62.849998,63.070000,62.567493,7382800
4,2021-01-08,63.180000,63.540001,62.910000,63.380001,62.875023,7751700
...,...,...,...,...,...,...,...
182,2021-09-23,88.940002,90.059998,88.660004,89.419998,89.419998,9720200
183,2021-09-24,89.269997,90.059998,88.940002,89.940002,89.940002,7617800
184,2021-09-27,89.779999,91.309998,89.150002,91.040001,91.040001,11533000
185,2021-09-28,90.639999,92.269997,90.050003,90.489998,90.489998,15041800
186,2021-09-29,91.150002,92.080002,91.000000,91.250000,91.250000,12006300

In [94]:
datao['StockID'] = 'ORCL'
dataframe_2021 ['StockID'] = 'IBM'

In [95]:
datao['Net'] = numpy.abs(datao['Open']-datao['Adj Close'])
datao['Scale'] = numpy.abs(datao['High']-datao['Low'])
dataframe_2021['Net'] = numpy.abs(dataframe_2021['Open']-dataframe_2021['Adj Close'])
dataframe_2021['Scale'] = numpy.abs(dataframe_2021['High']-dataframe_2021['Low'])

datao

,Date,Open,High,Low,Close,Adj Close,Volume,StockID,Net,Scale
0,2021-01-04,64.690002,64.699997,63.169998,63.750000,63.001003,11249900,ORCL,1.688999,1.529999
1,2021-01-05,63.680000,63.790001,62.480000,62.959999,62.220284,11005700,ORCL,1.459716,1.310001
2,2021-01-06,62.270000,63.349998,61.910000,62.570000,62.071476,8685400,ORCL,0.198524,1.439998
3,2021-01-07,62.849998,63.740002,62.849998,63.070000,62.567493,7382800,ORCL,0.282505,0.890004
4,2021-01-08,63.180000,63.540001,62.910000,63.380001,62.875023,7751700,ORCL,0.304977,0.630001
...,...,...,...,...,...,...,...,...,...,...
182,2021-09-23,88.940002,90.059998,88.660004,89.419998,89.419998,9720200,ORCL,0.479996,1.399994
183,2021-09-24,89.269997,90.059998,88.940002,89.940002,89.940002,7617800,ORCL,0.670005,1.119996
184,2021-09-27,89.779999,91.309998,89.150002,91.040001,91.040001,11533000,ORCL,1.260002,2.159996
185,2021-09-28,90.639999,92.269997,90.050003,90.489998,90.489998,15041800,ORCL,0.150001,2.219994
186,2021-09-29,91.150002,92.080002,91.000000,91.250000,91.250000,12006300,ORCL,0.099998,1.080002

In [96]:
dataframe_2021

,Date,Open,High,Low,Close,Adj Close,Volume,StockID,Net,Scale
0,2021-01-04,125.849998,125.919998,123.040001,123.940002,119.577530,5179200,IBM,6.272468,2.879997
1,2021-01-05,125.010002,126.680000,124.610001,126.139999,121.700096,6114600,IBM,3.309906,2.069999
2,2021-01-06,126.900002,131.880005,126.720001,129.289993,124.739220,7956700,IBM,2.160782,5.160004
3,2021-01-07,130.039993,130.460007,128.259995,128.990005,124.449783,4507400,IBM,5.590210,2.200012
4,2021-01-08,128.570007,129.320007,126.980003,128.529999,124.005974,4676200,IBM,4.564033,2.340004
...,...,...,...,...,...,...,...,...,...,...
176,2021-09-15,136.220001,137.800003,135.669998,137.199997,137.199997,3253900,IBM,0.979996,2.130005
177,2021-09-16,137.279999,137.949997,135.710007,136.429993,136.429993,2644000,IBM,0.850006,2.239990
178,2021-09-17,135.750000,135.919998,135.050003,135.229996,135.229996,5631300,IBM,0.520004,0.869995
179,2021-09-20,133.899994,135.179993,132.779999,134.309998,134.309998,4770700,IBM,0.410004,2.399994
180,2021-09-21,135.110001,135.639999,132.869995,132.970001,132.970001,4042768,IBM,2.140000,2.770004

In [97]:
datao_stats=(datao['Volume'].mean(),datao['Volume'].std())
datao_frame=datao[(datao['Volume']>datao_stats[0]-datao_stats[1])&
                   (datao['Volume']<datao_stats[0]+datao_stats[1])]
datao_frame

,Date,Open,High,Low,Close,Adj Close,Volume,StockID,Net,Scale
0,2021-01-04,64.690002,64.699997,63.169998,63.750000,63.001003,11249900,ORCL,1.688999,1.529999
1,2021-01-05,63.680000,63.790001,62.480000,62.959999,62.220284,11005700,ORCL,1.459716,1.310001
2,2021-01-06,62.270000,63.349998,61.910000,62.570000,62.071476,8685400,ORCL,0.198524,1.439998
3,2021-01-07,62.849998,63.740002,62.849998,63.070000,62.567493,7382800,ORCL,0.282505,0.890004
4,2021-01-08,63.180000,63.540001,62.910000,63.380001,62.875023,7751700,ORCL,0.304977,0.630001
...,...,...,...,...,...,...,...,...,...,...
182,2021-09-23,88.940002,90.059998,88.660004,89.419998,89.419998,9720200,ORCL,0.479996,1.399994
183,2021-09-24,89.269997,90.059998,88.940002,89.940002,89.940002,7617800,ORCL,0.670005,1.119996
184,2021-09-27,89.779999,91.309998,89.150002,91.040001,91.040001,11533000,ORCL,1.260002,2.159996
185,2021-09-28,90.639999,92.269997,90.050003,90.489998,90.489998,15041800,ORCL,0.150001,2.219994
186,2021-09-29,91.150002,92.080002,91.000000,91.250000,91.250000,12006300,ORCL,0.099998,1.080002

In [98]:
dataframe_2021_stats=(dataframe_2021['Volume'].mean(),dataframe_2021['Volume'].std())
dataframe_2021_frame=dataframe_2021[(dataframe_2021['Volume']>dataframe_2021_stats[0]-dataframe_2021_stats[1])&
                   (dataframe_2021['Volume']<dataframe_2021_stats[0]+dataframe_2021_stats[1])]
dataframe_2021_frame

,Date,Open,High,Low,Close,Adj Close,Volume,StockID,Net,Scale
0,2021-01-04,125.849998,125.919998,123.040001,123.940002,119.577530,5179200,IBM,6.272468,2.879997
1,2021-01-05,125.010002,126.680000,124.610001,126.139999,121.700096,6114600,IBM,3.309906,2.069999
2,2021-01-06,126.900002,131.880005,126.720001,129.289993,124.739220,7956700,IBM,2.160782,5.160004
3,2021-01-07,130.039993,130.460007,128.259995,128.990005,124.449783,4507400,IBM,5.590210,2.200012
4,2021-01-08,128.570007,129.320007,126.980003,128.529999,124.005974,4676200,IBM,4.564033,2.340004
...,...,...,...,...,...,...,...,...,...,...
176,2021-09-15,136.220001,137.800003,135.669998,137.199997,137.199997,3253900,IBM,0.979996,2.130005
177,2021-09-16,137.279999,137.949997,135.710007,136.429993,136.429993,2644000,IBM,0.850006,2.239990
178,2021-09-17,135.750000,135.919998,135.050003,135.229996,135.229996,5631300,IBM,0.520004,0.869995
179,2021-09-20,133.899994,135.179993,132.779999,134.309998,134.309998,4770700,IBM,0.410004,2.399994
180,2021-09-21,135.110001,135.639999,132.869995,132.970001,132.970001,4042768,IBM,2.140000,2.770004

In [99]:
datao_min=None
for m in range(1,10):
    month='-%02d-'%m
    df=datao_frame[datao_frame['Date'].str.contains(month)]
    minn=df[df['Scale']==df['Scale'].min()]
    if datao_min is None:
        datao_min=minn
    else:
        datao_min=pandas.concat([datao_min,minn])
df_o=datao_min.sort_values(by='Scale',ascending=False)
df_o

,Date,Open,High,Low,Close,Adj Close,Volume,StockID,Net,Scale
173,2021-09-10,89.650002,90.550003,89.510002,89.680000,89.680000,10545800,ORCL,0.029998,1.040001
142,2021-07-28,87.900002,87.949997,87.120003,87.180000,87.180000,6396800,ORCL,0.720002,0.829994
163,2021-08-26,88.809998,89.180000,88.459999,88.720001,88.720001,9093200,ORCL,0.089997,0.720001
53,2021-03-22,66.220001,66.519997,65.860001,66.320000,65.791595,10263700,ORCL,0.428406,0.659996
95,2021-05-20,78.949997,79.320000,78.680000,78.720001,78.430687,8802700,ORCL,0.519310,0.640000
123,2021-06-30,77.589996,78.209999,77.580002,77.839996,77.553917,7899800,ORCL,0.036079,0.629997
7,2021-01-13,62.320000,62.590000,61.970001,62.060001,61.565544,8298000,ORCL,0.754456,0.619999
79,2021-04-28,75.160004,75.269997,74.660004,74.769997,74.495201,6107800,ORCL,0.664803,0.609993
31,2021-02-18,61.810001,62.209999,61.660000,62.070000,61.575462,6262400,ORCL,0.234539,0.549999

In [100]:
dataframe_2021_min=None
for m in range(1,10):
    month='-%02d-'%m
    df=dataframe_2021_frame[dataframe_2021_frame['Date'].str.contains(month)]
    minn=df[df['Scale']==df['Scale'].min()]
    if dataframe_2021_min is None:
        dataframe_2021_min=minn
    else:
        dataframe_2021_min=pandas.concat([dataframe_2021_min,minn])
df_2021=dataframe_2021_min.sort_values(by='Scale',ascending=False)
df_2021

,Date,Open,High,Low,Close,Adj Close,Volume,StockID,Net,Scale
10,2021-01-19,129.279999,129.589996,128.089996,129.020004,124.478729,5398000,IBM,4.801270,1.500000
112,2021-06-15,149.850006,149.910004,148.600006,149.360001,147.660019,2513300,IBM,2.189987,1.309998
29,2021-02-16,120.150002,120.599998,119.360001,120.070000,117.391747,6639800,IBM,2.758255,1.239997
47,2021-03-12,127.190002,127.680000,126.610001,127.610001,124.763565,4010100,IBM,2.426437,1.069999
66,2021-04-09,134.869995,135.740005,134.710007,135.729996,132.702438,3023900,IBM,2.167557,1.029998
124,2021-07-01,146.960007,147.500000,146.570007,146.839996,145.168701,2686100,IBM,1.791306,0.929993
161,2021-08-24,139.779999,140.229996,139.320007,139.839996,139.839996,2365600,IBM,0.059997,0.909989
178,2021-09-17,135.750000,135.919998,135.050003,135.229996,135.229996,5631300,IBM,0.520004,0.869995
101,2021-05-28,144.210007,144.330002,143.490005,143.740005,142.103989,2534600,IBM,2.106018,0.839997

In [101]:
union=pandas.concat([df_o,df_2021])
result=union.set_index(['StockID','Date'])

In [102]:
result.rename(columns={
    'Open': '開盤價',  
    'High': '最高價', 
    'Low': '最低價', 
    'Close': '收盤價', 
    'Adj Close': '調整後收盤價', 
    'Volume': '成交量',
    'Net':'淨收入',
    'Scale':'規模'
}, inplace=True)
result

                           開盤價         最高價         最低價         收盤價  \
StockID Date
ORCL    2021-09-10   89.650002   90.550003   89.510002   89.680000
        2021-07-28   87.900002   87.949997   87.120003   87.180000
        2021-08-26   88.809998   89.180000   88.459999   88.720001
        2021-03-22   66.220001   66.519997   65.860001   66.320000
        2021-05-20   78.949997   79.320000   78.680000   78.720001
        2021-06-30   77.589996   78.209999   77.580002   77.839996
        2021-01-13   62.320000   62.590000   61.970001   62.060001
        2021-04-28   75.160004   75.269997   74.660004   74.769997
        2021-02-18   61.810001   62.209999   61.660000   62.070000
IBM     2021-01-19  129.279999  129.589996  128.089996  129.020004
        2021-06-15  149.850006  149.910004  148.600006  149.360001
        2021-02-16  120.150002  120.599998  119.360001  120.070000
        2021-03-12  127.190002  127.680000  126.610001  127.610001
        2021-04-09  134.869995  135.740005  134.710007  135.729996
        2021-07-01  146.960007  147.500000  146.570007  146.839996
        2021-08-24  139.779999  140.229996  139.320007  139.839996
        2021-09-17  135.750000  135.919998  135.050003  135.229996
        2021-05-28  144.210007  144.330002  143.490005  143.740005

                        調整後收盤價       成交量       淨收入        規模
StockID Date
ORCL    2021-09-10   89.680000  10545800  0.029998  1.040001
        2021-07-28   87.180000   6396800  0.720002  0.829994
        2021-08-26   88.720001   9093200  0.089997  0.720001
        2021-03-22   65.791595  10263700  0.428406  0.659996
        2021-05-20   78.430687   8802700  0.519310  0.640000
        2021-06-30   77.553917   7899800  0.036079  0.629997
        2021-01-13   61.565544   8298000  0.754456  0.619999
        2021-04-28   74.495201   6107800  0.664803  0.609993
        2021-02-18   61.575462   6262400  0.234539  0.549999
IBM     2021-01-19  124.478729   5398000  4.801270  1.500000
        2021-06-15  147.660019   2513300  2.189987  1.309998
        2021-02-16  117.391747   6639800  2.758255  1.239997
        2021-03-12  124.763565   4010100  2.426437  1.069999
        2021-04-09  132.702438   3023900  2.167557  1.029998
        2021-07-01  145.168701   2686100  1.791306  0.929993
        2021-08-24  139.839996   2365600  0.059997  0.909989
        2021-09-17  135.229996   5631300  0.520004  0.869995
        2021-05-28  142.103989   2534600  2.106018  0.839997