In [6]:
dataIBM = '/Users/justin/Projects/DB/data/IBM-Stocks/IBM-2021.csv'

In [7]:
dataIBM = pandas.read_csv(dataIBM)

In [8]:
dataIBM ["StockID"]="ORCL"
dataIBM

,Date,Open,High,Low,Close,Adj Close,Volume,StockID
0,2021-01-04,125.849998,125.919998,123.040001,123.940002,119.577530,5179200,ORCL
1,2021-01-05,125.010002,126.680000,124.610001,126.139999,121.700096,6114600,ORCL
2,2021-01-06,126.900002,131.880005,126.720001,129.289993,124.739220,7956700,ORCL
3,2021-01-07,130.039993,130.460007,128.259995,128.990005,124.449783,4507400,ORCL
4,2021-01-08,128.570007,129.320007,126.980003,128.529999,124.005974,4676200,ORCL
...,...,...,...,...,...,...,...,...
176,2021-09-15,136.220001,137.800003,135.669998,137.199997,137.199997,3253900,ORCL
177,2021-09-16,137.279999,137.949997,135.710007,136.429993,136.429993,2644000,ORCL
178,2021-09-17,135.750000,135.919998,135.050003,135.229996,135.229996,5631300,ORCL
179,2021-09-20,133.899994,135.179993,132.779999,134.309998,134.309998,4770700,ORCL
180,2021-09-21,135.110001,135.639999,132.869995,132.970001,132.970001,4042768,ORCL

In [9]:
import pandas
from glob import glob
import numpy

In [10]:
zzz=numpy.abs(dataframe["Open"]-dataframe["Adj Close"])

NameError: name 'dataframe' is not defined