In [6]:
import pandas
from glob import glob

In [7]:
data_folder = '/Users/justin/Projects/DB/data/IBM-Stocks'

data_files = glob('%s/IBM-20??.csv' % data_folder)
data_files

['/Users/justin/Projects/DB/data/IBM-Stocks/IBM-2018.csv',
 '/Users/justin/Projects/DB/data/IBM-Stocks/IBM-2019.csv',
 '/Users/justin/Projects/DB/data/IBM-Stocks/IBM-2021.csv',
 '/Users/justin/Projects/DB/data/IBM-Stocks/IBM-2020.csv',
 '/Users/justin/Projects/DB/data/IBM-Stocks/IBM-2017.csv']

In [8]:
dataframe_2018=pandas.read_csv(data_files[0])

In [11]:
dataframe_2018.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-02,154.500000,154.809998,153.539993,154.250000,129.093903,4202500
1,2018-01-03,157.339996,159.809998,156.330002,158.490005,132.642441,9441600
2,2018-01-04,159.649994,162.320007,159.369995,161.699997,135.328934,7556200
3,2018-01-05,162.440002,162.899994,161.100006,162.490005,135.990097,5195800
4,2018-01-08,162.660004,163.910004,161.699997,163.470001,136.810242,5237500

In [12]:
dataframe_2018.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [14]:
dataframe_2018.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [15]:
dataframe_2018.rename(columns={
    'Date': 'StockDate', 
    'Open': 'StockOpen', 
    'High': 'StockHigh', 
    'Low': 'StockLow', 
    'Close': 'StockClose', 
    'Adj Close': 'StockAdjClose', 
    'Volume': 'StockVol'
}, inplace=True)

dataframe_2018.columns

Index(['StockDate', 'StockOpen', 'StockHigh', 'StockLow', 'StockClose',
       'StockAdjClose', 'StockVol'],
      dtype='object')

In [22]:
dataframe_2018['StockID'] = "IBM"

In [23]:
dataframe_2018.head()

,StockDate,StockOpen,StockHigh,StockLow,StockClose,StockAdjClose,StockVol,StockID
0,2018-01-02,154.500000,154.809998,153.539993,154.250000,129.093903,4202.5,IBM
1,2018-01-03,157.339996,159.809998,156.330002,158.490005,132.642441,9441.6,IBM
2,2018-01-04,159.649994,162.320007,159.369995,161.699997,135.328934,7556.2,IBM
3,2018-01-05,162.440002,162.899994,161.100006,162.490005,135.990097,5195.8,IBM
4,2018-01-08,162.660004,163.910004,161.699997,163.470001,136.810242,5237.5,IBM

In [24]:
dataframe_2018['StockVol'] = dataframe_2018['StockVol'] / 1000.0

In [25]:
dataframe_2018.head()

,StockDate,StockOpen,StockHigh,StockLow,StockClose,StockAdjClose,StockVol,StockID
0,2018-01-02,154.500000,154.809998,153.539993,154.250000,129.093903,4.2025,IBM
1,2018-01-03,157.339996,159.809998,156.330002,158.490005,132.642441,9.4416,IBM
2,2018-01-04,159.649994,162.320007,159.369995,161.699997,135.328934,7.5562,IBM
3,2018-01-05,162.440002,162.899994,161.100006,162.490005,135.990097,5.1958,IBM
4,2018-01-08,162.660004,163.910004,161.699997,163.470001,136.810242,5.2375,IBM

In [26]:
dataframe_2018.set_index(['StockID', 'StockDate'])

                     StockOpen   StockHigh    StockLow  StockClose  \
StockID StockDate
IBM     2018-01-02  154.500000  154.809998  153.539993  154.250000
        2018-01-03  157.339996  159.809998  156.330002  158.490005
        2018-01-04  159.649994  162.320007  159.369995  161.699997
        2018-01-05  162.440002  162.899994  161.100006  162.490005
        2018-01-08  162.660004  163.910004  161.699997  163.470001
...                        ...         ...         ...         ...
        2018-12-21  112.500000  115.279999  110.440002  110.940002
        2018-12-24  109.900002  111.000000  107.500000  107.570000
        2018-12-26  108.000000  111.389999  105.940002  111.389999
        2018-12-27  109.989998  113.779999  109.470001  113.779999
        2018-12-28  114.220001  114.800003  112.500000  113.029999

                    StockAdjClose  StockVol
StockID StockDate
IBM     2018-01-02     129.093903    4.2025
        2018-01-03     132.642441    9.4416
        2018-01-04     135.328934    7.5562
        2018-01-05     135.990097    5.1958
        2018-01-08     136.810242    5.2375
...                           ...       ...
        2018-12-21      97.046852   10.3865
        2018-12-24      94.098885    3.8214
        2018-12-26      97.440498    6.6458
        2018-12-27      99.531197    6.0456
        2018-12-28      98.875130    5.1175

[250 rows x 6 columns]

In [27]:
new_columns = [
    'StockID', 'StockDate', 'StockOpen', 'StockHigh', 'StockLow', 'StockClose',
    'StockAdjClose', 'StockVol'
]

dataframe_2018[new_columns].head()

,StockID,StockDate,StockOpen,StockHigh,StockLow,StockClose,StockAdjClose,StockVol
0,IBM,2018-01-02,154.500000,154.809998,153.539993,154.250000,129.093903,4.2025
1,IBM,2018-01-03,157.339996,159.809998,156.330002,158.490005,132.642441,9.4416
2,IBM,2018-01-04,159.649994,162.320007,159.369995,161.699997,135.328934,7.5562
3,IBM,2018-01-05,162.440002,162.899994,161.100006,162.490005,135.990097,5.1958
4,IBM,2018-01-08,162.660004,163.910004,161.699997,163.470001,136.810242,5.2375

In [29]:
dataframe_2018[new_columns].to_hdf('%s/IBM.h5' % data_folder, key='IBM2018', mode='w')

In [32]:
dataframe_2019=pandas.read_csv(data_files[1])

In [34]:
dataframe_2019.to_hdf('%s/IBM.h5' % data_folder, key='IBM2019', mode='w')