In [1]:
import pandas
from pandas import DataFrame
import jaydebeapi

In [2]:
from pyArango.connection import*
from pyArango.query import*
import pyArango.validation as VAL

<h3>設計一個 SQL 資料庫表格，欲將此 CSV 匯入</h3>

In [3]:
data=pandas.read_csv("C:\\Users\\user\\anaconda3\\Projects\\data\\movies_data.csv",encoding='utf-8')
data

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,#Gadhvi (He thought he was Gandhi),2019,109,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
1,#Yaaram,2019,110,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
2,...Aur Pyaar Ho Gaya,1997,147,"Comedy, Drama, Musical",4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor
3,...Yahaan,2005,142,"Drama, Romance, War",7.4,1086,Shoojit Sircar,Jimmy Sheirgill,Minissha Lamba,Yashpal Sharma
4,?: A Question Mark,2012,82,"Horror, Mystery, Thriller",5.6,326,Allyson Patel,Yash Dave,Muntazir Ahmad,Kiran Bhatia
...,...,...,...,...,...,...,...,...,...,...
5654,Zubaan,2015,115,Drama,6.1,408,Mozez Singh,Vicky Kaushal,Sarah Jane Dias,Raaghavv Chanana
5655,Zubeidaa,2001,153,"Biography, Drama, History",6.2,1496,Shyam Benegal,Karisma Kapoor,Rekha,Manoj Bajpayee
5656,Zulm Ki Zanjeer,1989,125,"Action, Crime, Drama",5.8,44,S.P. Muthuraman,Chiranjeevi,Jayamalini,Rajinikanth
5657,Zulmi,1999,129,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
5658,Zulm-O-Sitam,1998,130,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

<h3>此 SQL 資料庫表格需要衍生一個索引欄位，規則為：MOV0001</h3>

In [6]:
for i in range(data.shape[0]):
    data['ID'][i]="MOV"+'%04d'%int(i+1)
data

C:\Users\user\AppData\Local\Temp/ipykernel_19420/2087603487.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['ID'][i]="MOV"+'%04d'%int(i+1)

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3,ID
0,#Gadhvi (He thought he was Gandhi),2019,109,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid,MOV0001
1,#Yaaram,2019,110,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor,MOV0002
2,...Aur Pyaar Ho Gaya,1997,147,"Comedy, Drama, Musical",4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor,MOV0003
3,...Yahaan,2005,142,"Drama, Romance, War",7.4,1086,Shoojit Sircar,Jimmy Sheirgill,Minissha Lamba,Yashpal Sharma,MOV0004
4,?: A Question Mark,2012,82,"Horror, Mystery, Thriller",5.6,326,Allyson Patel,Yash Dave,Muntazir Ahmad,Kiran Bhatia,MOV0005
...,...,...,...,...,...,...,...,...,...,...,...
5654,Zubaan,2015,115,Drama,6.1,408,Mozez Singh,Vicky Kaushal,Sarah Jane Dias,Raaghavv Chanana,MOV5655
5655,Zubeidaa,2001,153,"Biography, Drama, History",6.2,1496,Shyam Benegal,Karisma Kapoor,Rekha,Manoj Bajpayee,MOV5656
5656,Zulm Ki Zanjeer,1989,125,"Action, Crime, Drama",5.8,44,S.P. Muthuraman,Chiranjeevi,Jayamalini,Rajinikanth,MOV5657
5657,Zulmi,1999,129,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani,MOV5658
5658,Zulm-O-Sitam,1998,130,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja,MOV5659

<h3>連結DB</h3>

In [9]:
dbConnection = jaydebeapi.connect(
    "org.h2.Driver",
    "jdbc:h2:C:/Users/user/anaconda3/Projects/data/H2",
    ["SA", ""],
    "C:/Java/h2/bin/h2-1.4.200.jar")
dbCursor = dbConnection.cursor()

<h3>建立表格</h3>

In [56]:
_sql1 = [
    "CREATE TABLE IF NOT EXISTS",
    "MOVIE(NAME CHAR, YEAR INTEGER, DURATION INTEGER, GENRE CHAR, RATING CHAR, VOTES INTEGER, DIRECTOR CHAR, ACTOR1 CHAR, ACTOR2 CHAR, ACTOR3 CHAR, INDEX CHAR(7));"
]
sql1 = ' '.join(_sql1)
dbCursor.execute(sql1)

In [ ]:
_sql = 'TRUNCATE TABLE PUBLIC.MOVIE'
dbCursor.execute(_sql)

<h3>撰寫 Python 程式，逐筆產生 SQL INSERT 語句，將此 CSV 匯入該SQL 資料庫表格中</h3>

In [10]:
_sql2=[
    "INSERT INTO",
    "MOVIE(NAME, YEAR,",
    "DURATION, GENRE, RATING,",
    "VOTES, DIRECTOR, ACTOR1, ACTOR2, ACTOR3, INDEX)",
    "VALUES('%s', %d, %d, '%s', %s, %d, '%s', '%s', '%s', '%s', '%s');"
] 
sql2 = ' '.join(_sql2)
for i in range(data.shape[0]):
    row = data.iloc[i]
    insert_sql = sql2 % (row[0].replace("'", "''"),
                         row[1],
                         row[2],
                         row[3],
                         row[4],
                         row[5],
                         row[6].replace("'", "''"),
                         row[7],
                         row[8].replace("'", "''"),
                         row[9].replace("'", "''"),
                         row[10])
    #print(insert_sql)
    dbCursor.execute(insert_sql)

<h3>7,8撰寫 SQL AGGREATION 語句，計算各 Genre 中之樣本數，記錄在 Jupyter Markdown 中</h3>

In [11]:
_sql3 = [
    "SELECT Genre,COUNT(Genre) AS sum",
    "FROM MOVIE",
    "GROUP BY Genre"
]  

dbCursor.execute(' '.join(_sql3))
resultSet = dbCursor.fetchall()

rows = {
    'GENRE': [],
    'SUM': []
}

for row in resultSet:
    rows['GENRE'].append(row[0])
    rows['SUM'].append(row[1])

results = pandas.DataFrame(data=rows).set_index(['GENRE'])

results

                              SUM
GENRE
Action                        510
Action, Adventure              51
Action, Adventure, Biography    3
Action, Adventure, Comedy     111
Action, Adventure, Crime       27
...                           ...
Thriller, Action                3
Thriller, Musical, Mystery      3
Thriller, Mystery               6
Thriller, Mystery, Family       3
War                             9

[376 rows x 1 columns]

<h3>關閉連結DB</h3>

In [ ]:
dbCursor.close()
dbConnection.close()

<h3>連結Arango</h3>

In [84]:
db_ip='localhost'

db_conn=Connection(
    arangoURL='http://%s:8529'%db_ip,
    username='emprogria',
    password='emprogria'
)

In [85]:
db=db_conn['Emprogria']
db_collection=db.collections['StockInfo2']

<h3>9,10撰寫 AQL AGGREATION 語句，計算各 Genre 中之樣本數，記錄在 Jupyter Markdown 中</h3>

In [110]:
aql='FOR doc IN StockInfo2 COLLECT Genre = doc.`Genre` AGGREGATE Total = COUNT(doc.`Genre`) RETURN { "GENRE": Genre, "TOTAL": Total}'
sub_collections=db.AQLQuery(aql, rawResults=False, batchSize=30000) #false結構化,資料子集合
#print('筆數: %d' % len(sub_collections.response['result']))

sub_collections.response['result']

[{'GENRE': 'Action', 'TOTAL': 170},
 {'GENRE': 'Action, Adventure', 'TOTAL': 17},
 {'GENRE': 'Action, Adventure, Biography', 'TOTAL': 1},
 {'GENRE': 'Action, Adventure, Comedy', 'TOTAL': 37},
 {'GENRE': 'Action, Adventure, Crime', 'TOTAL': 9},
 {'GENRE': 'Action, Adventure, Drama', 'TOTAL': 43},
 {'GENRE': 'Action, Adventure, Family', 'TOTAL': 2},
 {'GENRE': 'Action, Adventure, Fantasy', 'TOTAL': 11},
 {'GENRE': 'Action, Adventure, History', 'TOTAL': 1},
 {'GENRE': 'Action, Adventure, Horror', 'TOTAL': 1},
 {'GENRE': 'Action, Adventure, Musical', 'TOTAL': 3},
 {'GENRE': 'Action, Adventure, Mystery', 'TOTAL': 1},
 {'GENRE': 'Action, Adventure, Romance', 'TOTAL': 5},
 {'GENRE': 'Action, Adventure, Sci-Fi', 'TOTAL': 6},
 {'GENRE': 'Action, Adventure, Thriller', 'TOTAL': 18},
 {'GENRE': 'Action, Biography, Crime', 'TOTAL': 8},
 {'GENRE': 'Action, Biography, Drama', 'TOTAL': 12},
 {'GENRE': 'Action, Comedy', 'TOTAL': 24},
 {'GENRE': 'Action, Comedy, Crime', 'TOTAL': 74},
 {'GENRE': 'Action, Comedy, Drama', 'TOTAL': 118},
 {'GENRE': 'Action, Comedy, Fantasy', 'TOTAL': 4},
 {'GENRE': 'Action, Comedy, Horror', 'TOTAL': 1},
 {'GENRE': 'Action, Comedy, Musical', 'TOTAL': 7},
 {'GENRE': 'Action, Comedy, Mystery', 'TOTAL': 2},
 {'GENRE': 'Action, Comedy, Romance', 'TOTAL': 27},
 {'GENRE': 'Action, Comedy, Thriller', 'TOTAL': 6},
 {'GENRE': 'Action, Comedy, War', 'TOTAL': 1},
 {'GENRE': 'Action, Crime', 'TOTAL': 18},
 {'GENRE': 'Action, Crime, Drama', 'TOTAL': 329},
 {'GENRE': 'Action, Crime, Family', 'TOTAL': 1},
 {'GENRE': 'Action, Crime, Fantasy', 'TOTAL': 1},
 {'GENRE': 'Action, Crime, History', 'TOTAL': 1},
 {'GENRE': 'Action, Crime, Horror', 'TOTAL': 1},
 {'GENRE': 'Action, Crime, Musical', 'TOTAL': 3},
 {'GENRE': 'Action, Crime, Mystery', 'TOTAL': 4},
 {'GENRE': 'Action, Crime, Romance', 'TOTAL': 10},
 {'GENRE': 'Action, Crime, Sci-Fi', 'TOTAL': 1},
 {'GENRE': 'Action, Crime, Thriller', 'TOTAL': 45},
 {'GENRE': 'Action, Drama', 'TOTAL': 206},
 {'GENRE': 'Action, Drama, Crime', 'TOTAL': 2},
 {'GENRE': 'Action, Drama, Family', 'TOTAL': 12},
 {'GENRE': 'Action, Drama, Fantasy', 'TOTAL': 10},
 {'GENRE': 'Action, Drama, History', 'TOTAL': 18},
 {'GENRE': 'Action, Drama, Horror', 'TOTAL': 4},
 {'GENRE': 'Action, Drama, Music', 'TOTAL': 5},
 {'GENRE': 'Action, Drama, Musical', 'TOTAL': 30},
 {'GENRE': 'Action, Drama, Mystery', 'TOTAL': 10},
 {'GENRE': 'Action, Drama, Romance', 'TOTAL': 107},
 {'GENRE': 'Action, Drama, Sport', 'TOTAL': 10},
 {'GENRE': 'Action, Drama, Thriller', 'TOTAL': 49},
 {'GENRE': 'Action, Drama, War', 'TOTAL': 6},
 {'GENRE': 'Action, Drama, Western', 'TOTAL': 1},
 {'GENRE': 'Action, Family', 'TOTAL': 2},
 {'GENRE': 'Action, Family, Drama', 'TOTAL': 1},
 {'GENRE': 'Action, Family, Mystery', 'TOTAL': 1},
 {'GENRE': 'Action, Fantasy', 'TOTAL': 3},
 {'GENRE': 'Action, Fantasy, Horror', 'TOTAL': 1},
 {'GENRE': 'Action, Fantasy, Musical', 'TOTAL': 1},
 {'GENRE': 'Action, Fantasy, Mystery', 'TOTAL': 1},
 {'GENRE': 'Action, Fantasy, Sci-Fi', 'TOTAL': 1},
 {'GENRE': 'Action, Fantasy, Thriller', 'TOTAL': 4},
 {'GENRE': 'Action, History', 'TOTAL': 1},
 {'GENRE': 'Action, Horror, Mystery', 'TOTAL': 1},
 {'GENRE': 'Action, Horror, Sci-Fi', 'TOTAL': 2},
 {'GENRE': 'Action, Musical', 'TOTAL': 1},
 {'GENRE': 'Action, Musical, Romance', 'TOTAL': 8},
 {'GENRE': 'Action, Musical, Thriller', 'TOTAL': 2},
 {'GENRE': 'Action, Musical, War', 'TOTAL': 1},
 {'GENRE': 'Action, Mystery', 'TOTAL': 5},
 {'GENRE': 'Action, Mystery, Romance', 'TOTAL': 3},
 {'GENRE': 'Action, Mystery, Thriller', 'TOTAL': 4},
 {'GENRE': 'Action, Romance', 'TOTAL': 25},
 {'GENRE': 'Action, Romance, Comedy', 'TOTAL': 1},
 {'GENRE': 'Action, Romance, Drama', 'TOTAL': 1},
 {'GENRE': 'Action, Romance, Thriller', 'TOTAL': 10},
 {'GENRE': 'Action, Sci-Fi', 'TOTAL': 2},
 {'GENRE': 'Action, Sci-Fi, Thriller', 'TOTAL': 2},
 {'GENRE': 'Action, Thriller', 'TOTAL': 70},
 {'GENRE': 'Action, Thriller, Crime', 'TOTAL': 1},
 {'GENRE': 'Action, Thriller, Mystery', 'TOTAL': 1},
 {'GENRE': 'Action, Thriller, Romance', 'TOTAL': 1},
 {'GENRE': 'Action, Thriller, War', 'TOTAL': 1},
 {'GENRE': 'Action, War', 'TOTAL': 1},
 {'GENRE': 'Adventure', 'TOTAL': 14},
 {'GENRE': 'Adventure, Biography, Drama', 'TOTAL': 2},
 {'GENRE': 'Adventure, Biography, History', 'TOTAL': 1},
 {'GENRE': 'Adventure, Comedy, Crime', 'TOTAL': 5},
 {'GENRE': 'Adventure, Comedy, Drama', 'TOTAL': 17},
 {'GENRE': 'Adventure, Comedy, Family', 'TOTAL': 1},
 {'GENRE': 'Adventure, Comedy, Romance', 'TOTAL': 1},
 {'GENRE': 'Adventure, Crime, Drama', 'TOTAL': 2},
 {'GENRE': 'Adventure, Drama', 'TOTAL': 5},
 {'GENRE': 'Adventure, Drama, Family', 'TOTAL': 7},
 {'GENRE': 'Adventure, Drama, Fantasy', 'TOTAL': 10},
 {'GENRE': 'Adventure, Drama, History', 'TOTAL': 5},
 {'GENRE': 'Adventure, Drama, Music', 'TOTAL': 1},
 {'GENRE': 'Adventure, Drama, Musical', 'TOTAL': 3},
 {'GENRE': 'Adventure, Drama, Mystery', 'TOTAL': 3},
 {'GENRE': 'Adventure, Drama, Romance', 'TOTAL': 3},
 {'GENRE': 'Adventure, Drama, Sci-Fi', 'TOTAL': 1},
 {'GENRE': 'Adventure, Drama, Thriller', 'TOTAL': 6},
 {'GENRE': 'Adventure, Family, Fantasy', 'TOTAL': 2},
 {'GENRE': 'Adventure, Fantasy', 'TOTAL': 4},
 {'GENRE': 'Adventure, Fantasy, Romance', 'TOTAL': 2},
 {'GENRE': 'Adventure, History, Thriller', 'TOTAL': 1},
 {'GENRE': 'Adventure, Horror, Mystery', 'TOTAL': 3},
 {'GENRE': 'Adventure, Horror, Romance', 'TOTAL': 1},
 {'GENRE': 'Adventure, Mystery, Thriller', 'TOTAL': 1},
 {'GENRE': 'Adventure, Romance', 'TOTAL': 1},
 {'GENRE': 'Adventure, Thriller', 'TOTAL': 3},
 {'GENRE': 'Animation', 'TOTAL': 11},
 {'GENRE': 'Animation, Action', 'TOTAL': 1},
 {'GENRE': 'Animation, Action, Adventure', 'TOTAL': 7},
 {'GENRE': 'Animation, Action, Comedy', 'TOTAL': 1},
 {'GENRE': 'Animation, Action, Drama', 'TOTAL': 1},
 {'GENRE': 'Animation, Adventure, Comedy', 'TOTAL': 2},
 {'GENRE': 'Animation, Adventure, Family', 'TOTAL': 3},
 {'GENRE': 'Animation, Adventure, Fantasy', 'TOTAL': 2},
 {'GENRE': 'Animation, Comedy, Drama', 'TOTAL': 1},
 {'GENRE': 'Animation, Comedy, Family', 'TOTAL': 1},
 {'GENRE': 'Animation, Drama, Adventure', 'TOTAL': 1},
 {'GENRE': 'Animation, Drama, History', 'TOTAL': 1},
 {'GENRE': 'Animation, Drama, Musical', 'TOTAL': 1},
 {'GENRE': 'Animation, Drama, Romance', 'TOTAL': 1},
 {'GENRE': 'Animation, Family', 'TOTAL': 4},
 {'GENRE': 'Animation, Family, History', 'TOTAL': 1},
 {'GENRE': 'Animation, Family, Musical', 'TOTAL': 1},
 {'GENRE': 'Biography', 'TOTAL': 7},
 {'GENRE': 'Biography, Comedy, Drama', 'TOTAL': 5},
 {'GENRE': 'Biography, Crime, Drama', 'TOTAL': 4},
 {'GENRE': 'Biography, Crime, Thriller', 'TOTAL': 1},
 {'GENRE': 'Biography, Drama', 'TOTAL': 30},
 {'GENRE': 'Biography, Drama, Family', 'TOTAL': 1},
 {'GENRE': 'Biography, Drama, History', 'TOTAL': 16},
 {'GENRE': 'Biography, Drama, Music', 'TOTAL': 1},
 {'GENRE': 'Biography, Drama, Musical', 'TOTAL': 2},
 {'GENRE': 'Biography, Drama, Romance', 'TOTAL': 3},
 {'GENRE': 'Biography, Drama, Sport', 'TOTAL': 6},
 {'GENRE': 'Biography, Drama, Thriller', 'TOTAL': 2},
 {'GENRE': 'Biography, Drama, War', 'TOTAL': 2},
 {'GENRE': 'Biography, Family', 'TOTAL': 1},
 {'GENRE': 'Biography, History', 'TOTAL': 3},
 {'GENRE': 'Comedy', 'TOTAL': 187},
 {'GENRE': 'Comedy, Action', 'TOTAL': 1},
 {'GENRE': 'Comedy, Crime', 'TOTAL': 10},
 {'GENRE': 'Comedy, Crime, Drama', 'TOTAL': 53},
 {'GENRE': 'Comedy, Crime, Family', 'TOTAL': 1},
 {'GENRE': 'Comedy, Crime, Musical', 'TOTAL': 1},
 {'GENRE': 'Comedy, Crime, Mystery', 'TOTAL': 3},
 {'GENRE': 'Comedy, Crime, Romance', 'TOTAL': 3},
 {'GENRE': 'Comedy, Crime, Thriller', 'TOTAL': 4},
 {'GENRE': 'Comedy, Drama', 'TOTAL': 205},
 {'GENRE': 'Comedy, Drama, Family', 'TOTAL': 50},
 {'GENRE': 'Comedy, Drama, Fantasy', 'TOTAL': 14},
 {'GENRE': 'Comedy, Drama, History', 'TOTAL': 1},
 {'GENRE': 'Comedy, Drama, Horror', 'TOTAL': 4},
 {'GENRE': 'Comedy, Drama, Music', 'TOTAL': 7},
 {'GENRE': 'Comedy, Drama, Musical', 'TOTAL': 45},
 {'GENRE': 'Comedy, Drama, Mystery', 'TOTAL': 2},
 {'GENRE': 'Comedy, Drama, Romance', 'TOTAL': 188},
 {'GENRE': 'Comedy, Drama, Sci-Fi', 'TOTAL': 1},
 {'GENRE': 'Comedy, Drama, Sport', 'TOTAL': 2},
 {'GENRE': 'Comedy, Drama, Thriller', 'TOTAL': 11},
 {'GENRE': 'Comedy, Family', 'TOTAL': 8},
 {'GENRE': 'Comedy, Family, Fantasy', 'TOTAL': 3},
 {'GENRE': 'Comedy, Family, Musical', 'TOTAL': 1},
 {'GENRE': 'Comedy, Family, Romance', 'TOTAL': 2},
 {'GENRE': 'Comedy, Family, Sci-Fi', 'TOTAL': 1},
 {'GENRE': 'Comedy, Fantasy', 'TOTAL': 3},
 {'GENRE': 'Comedy, Fantasy, Musical', 'TOTAL': 1},
 {'GENRE': 'Comedy, Fantasy, Romance', 'TOTAL': 2},
 {'GENRE': 'Comedy, Horror', 'TOTAL': 6},
 {'GENRE': 'Comedy, Horror, Musical', 'TOTAL': 1},
 {'GENRE': 'Comedy, Horror, Mystery', 'TOTAL': 2},
 {'GENRE': 'Comedy, Music', 'TOTAL': 1},
 {'GENRE': 'Comedy, Music, Romance', 'TOTAL': 2},
 {'GENRE': 'Comedy, Musical', 'TOTAL': 3},
 {'GENRE': 'Comedy, Musical, Action', 'TOTAL': 1},
 {'GENRE': 'Comedy, Musical, Drama', 'TOTAL': 1},
 {'GENRE': 'Comedy, Musical, Mystery', 'TOTAL': 2},
 {'GENRE': 'Comedy, Musical, Romance', 'TOTAL': 19},
 {'GENRE': 'Comedy, Mystery', 'TOTAL': 2},
 {'GENRE': 'Comedy, Mystery, Romance', 'TOTAL': 2},
 {'GENRE': 'Comedy, Mystery, Thriller', 'TOTAL': 1},
 {'GENRE': 'Comedy, Romance', 'TOTAL': 107},
 {'GENRE': 'Comedy, Romance, Musical', 'TOTAL': 2},
 {'GENRE': 'Comedy, Romance, Sci-Fi', 'TOTAL': 1},
 {'GENRE': 'Comedy, Romance, Thriller', 'TOTAL': 5},
 {'GENRE': 'Comedy, Sci-Fi', 'TOTAL': 1},
 {'GENRE': 'Comedy, Sport', 'TOTAL': 1},
 {'GENRE': 'Comedy, Thriller', 'TOTAL': 13},
 {'GENRE': 'Comedy, War', 'TOTAL': 2},
 {'GENRE': 'Crime', 'TOTAL': 24},
 {'GENRE': 'Crime, Drama', 'TOTAL': 46},
 {'GENRE': 'Crime, Drama, Family', 'TOTAL': 4},
 {'GENRE': 'Crime, Drama, History', 'TOTAL': 1},
 {'GENRE': 'Crime, Drama, Horror', 'TOTAL': 2},
 {'GENRE': 'Crime, Drama, Music', 'TOTAL': 3},
 {'GENRE': 'Crime, Drama, Musical', 'TOTAL': 8},
 {'GENRE': 'Crime, Drama, Mystery', 'TOTAL': 49},
 {'GENRE': 'Crime, Drama, Romance', 'TOTAL': 25},
 {'GENRE': 'Crime, Drama, Thriller', 'TOTAL': 53},
 {'GENRE': 'Crime, Fantasy, Mystery', 'TOTAL': 1},
 {'GENRE': 'Crime, Horror, Mystery', 'TOTAL': 1},
 {'GENRE': 'Crime, Horror, Romance', 'TOTAL': 1},
 {'GENRE': 'Crime, Horror, Thriller', 'TOTAL': 1},
 {'GENRE': 'Crime, Musical, Mystery', 'TOTAL': 1},
 {'GENRE': 'Crime, Musical, Romance', 'TOTAL': 1},
 {'GENRE': 'Crime, Musical, Thriller', 'TOTAL': 1},
 {'GENRE': 'Crime, Mystery', 'TOTAL': 5},
 {'GENRE': 'Crime, Mystery, Romance', 'TOTAL': 2},
 {'GENRE': 'Crime, Mystery, Thriller', 'TOTAL': 10},
 {'GENRE': 'Crime, Romance', 'TOTAL': 2},
 {'GENRE': 'Crime, Romance, Thriller', 'TOTAL': 4},
 {'GENRE': 'Crime, Thriller', 'TOTAL': 26},
 {'GENRE': 'Documentary', 'TOTAL': 25},
 {'GENRE': 'Documentary, Biography', 'TOTAL': 1},
 {'GENRE': 'Documentary, Biography, Crime', 'TOTAL': 2},
 {'GENRE': 'Documentary, Biography, Drama', 'TOTAL': 3},
 {'GENRE': 'Documentary, Biography, Musical', 'TOTAL': 1},
 {'GENRE': 'Documentary, Crime, History', 'TOTAL': 1},
 {'GENRE': 'Documentary, Drama', 'TOTAL': 5},
 {'GENRE': 'Documentary, Family', 'TOTAL': 1},
 {'GENRE': 'Documentary, Family, History', 'TOTAL': 1},
 {'GENRE': 'Documentary, History', 'TOTAL': 4},
 {'GENRE': 'Documentary, History, News', 'TOTAL': 1},
 {'GENRE': 'Documentary, Music', 'TOTAL': 1},
 {'GENRE': 'Documentary, Sport', 'TOTAL': 1},
 {'GENRE': 'Documentary, Thriller', 'TOTAL': 1},
 {'GENRE': 'Drama', 'TOTAL': 844},
 {'GENRE': 'Drama, Action, Comedy', 'TOTAL': 3},
 {'GENRE': 'Drama, Action, Crime', 'TOTAL': 2},
 {'GENRE': 'Drama, Action, Horror', 'TOTAL': 1},
 {'GENRE': 'Drama, Action, Musical', 'TOTAL': 1},
 {'GENRE': 'Drama, Adventure, Action', 'TOTAL': 2},
 {'GENRE': 'Drama, Comedy, Action', 'TOTAL': 1},
 {'GENRE': 'Drama, Comedy, Family', 'TOTAL': 3},
 {'GENRE': 'Drama, Crime', 'TOTAL': 1},
 {'GENRE': 'Drama, Crime, Mystery', 'TOTAL': 1},
 {'GENRE': 'Drama, Family', 'TOTAL': 160},
 {'GENRE': 'Drama, Family, Action', 'TOTAL': 2},
 {'GENRE': 'Drama, Family, Comedy', 'TOTAL': 1},
 {'GENRE': 'Drama, Family, Fantasy', 'TOTAL': 6},
 {'GENRE': 'Drama, Family, History', 'TOTAL': 1},
 {'GENRE': 'Drama, Family, Horror', 'TOTAL': 1},
 {'GENRE': 'Drama, Family, Music', 'TOTAL': 5},
 {'GENRE': 'Drama, Family, Musical', 'TOTAL': 18},
 {'GENRE': 'Drama, Family, Mystery', 'TOTAL': 1},
 {'GENRE': 'Drama, Family, Romance', 'TOTAL': 32},
 {'GENRE': 'Drama, Family, Sport', 'TOTAL': 3},
 {'GENRE': 'Drama, Family, Thriller', 'TOTAL': 2},
 {'GENRE': 'Drama, Fantasy', 'TOTAL': 8},
 {'GENRE': 'Drama, Fantasy, History', 'TOTAL': 1},
 {'GENRE': 'Drama, Fantasy, Horror', 'TOTAL': 2},
 {'GENRE': 'Drama, Fantasy, Musical', 'TOTAL': 3},
 {'GENRE': 'Drama, Fantasy, Mystery', 'TOTAL': 3},
 {'GENRE': 'Drama, Fantasy, Romance', 'TOTAL': 5},
 {'GENRE': 'Drama, Fantasy, Sci-Fi', 'TOTAL': 1},
 {'GENRE': 'Drama, Fantasy, Thriller', 'TOTAL': 3},
 {'GENRE': 'Drama, Fantasy, War', 'TOTAL': 1},
 {'GENRE': 'Drama, History', 'TOTAL': 17},
 {'GENRE': 'Drama, History, Musical', 'TOTAL': 2},
 {'GENRE': 'Drama, History, Romance', 'TOTAL': 6},
 {'GENRE': 'Drama, History, Sport', 'TOTAL': 1},
 {'GENRE': 'Drama, History, Thriller', 'TOTAL': 1},
 {'GENRE': 'Drama, History, War', 'TOTAL': 4},
 {'GENRE': 'Drama, Horror', 'TOTAL': 3},
 {'GENRE': 'Drama, Horror, Musical', 'TOTAL': 3},
 {'GENRE': 'Drama, Horror, Mystery', 'TOTAL': 15},
 {'GENRE': 'Drama, Horror, Romance', 'TOTAL': 5},
 {'GENRE': 'Drama, Horror, Thriller', 'TOTAL': 7},
 {'GENRE': 'Drama, Music', 'TOTAL': 13},
 {'GENRE': 'Drama, Music, Musical', 'TOTAL': 4},
 {'GENRE': 'Drama, Music, Romance', 'TOTAL': 6},
 {'GENRE': 'Drama, Musical', 'TOTAL': 21},
 {'GENRE': 'Drama, Musical, Family', 'TOTAL': 3},
 {'GENRE': 'Drama, Musical, Mystery', 'TOTAL': 4},
 {'GENRE': 'Drama, Musical, Romance', 'TOTAL': 93},
 {'GENRE': 'Drama, Musical, Sport', 'TOTAL': 1},
 {'GENRE': 'Drama, Musical, Thriller', 'TOTAL': 1},
 {'GENRE': 'Drama, Mystery', 'TOTAL': 11},
 {'GENRE': 'Drama, Mystery, Romance', 'TOTAL': 13},
 {'GENRE': 'Drama, Mystery, Sci-Fi', 'TOTAL': 1},
 {'GENRE': 'Drama, Mystery, Thriller', 'TOTAL': 31},
 {'GENRE': 'Drama, Romance', 'TOTAL': 332},
 {'GENRE': 'Drama, Romance, Family', 'TOTAL': 2},
 {'GENRE': 'Drama, Romance, Musical', 'TOTAL': 4},
 {'GENRE': 'Drama, Romance, Sport', 'TOTAL': 1},
 {'GENRE': 'Drama, Romance, Thriller', 'TOTAL': 40},
 {'GENRE': 'Drama, Romance, War', 'TOTAL': 5},
 {'GENRE': 'Drama, Sci-Fi', 'TOTAL': 2},
 {'GENRE': 'Drama, Sport', 'TOTAL': 12},
 {'GENRE': 'Drama, Thriller', 'TOTAL': 52},
 {'GENRE': 'Drama, Thriller, Action', 'TOTAL': 2},
 {'GENRE': 'Drama, War', 'TOTAL': 6},
 {'GENRE': 'Family', 'TOTAL': 28},
 {'GENRE': 'Family, Comedy', 'TOTAL': 1},
 {'GENRE': 'Family, Drama', 'TOTAL': 6},
 {'GENRE': 'Family, Drama, Thriller', 'TOTAL': 1},
 {'GENRE': 'Family, Music, Romance', 'TOTAL': 1},
 {'GENRE': 'Family, Musical, Romance', 'TOTAL': 4},
 {'GENRE': 'Family, Romance', 'TOTAL': 9},
 {'GENRE': 'Family, Romance, Drama', 'TOTAL': 1},
 {'GENRE': 'Family, Thriller', 'TOTAL': 1},
 {'GENRE': 'Fantasy', 'TOTAL': 21},
 {'GENRE': 'Fantasy, Drama', 'TOTAL': 2},
 {'GENRE': 'Fantasy, Horror', 'TOTAL': 2},
 {'GENRE': 'Fantasy, Horror, Mystery', 'TOTAL': 1},
 {'GENRE': 'Fantasy, Horror, Romance', 'TOTAL': 1},
 {'GENRE': 'Fantasy, Musical, Mystery', 'TOTAL': 1},
 {'GENRE': 'Fantasy, Mystery, Romance', 'TOTAL': 1},
 {'GENRE': 'Fantasy, Romance', 'TOTAL': 1},
 {'GENRE': 'Fantasy, Thriller, Action', 'TOTAL': 1},
 {'GENRE': 'History', 'TOTAL': 6},
 {'GENRE': 'History, Musical, Romance', 'TOTAL': 1},
 {'GENRE': 'History, Romance', 'TOTAL': 1},
 {'GENRE': 'Horror', 'TOTAL': 74},
 {'GENRE': 'Horror, Drama, Mystery', 'TOTAL': 1},
 {'GENRE': 'Horror, Mystery', 'TOTAL': 13},
 {'GENRE': 'Horror, Mystery, Romance', 'TOTAL': 5},
 {'GENRE': 'Horror, Mystery, Thriller', 'TOTAL': 9},
 {'GENRE': 'Horror, Romance', 'TOTAL': 3},
 {'GENRE': 'Horror, Romance, Sci-Fi', 'TOTAL': 1},
 {'GENRE': 'Horror, Romance, Thriller', 'TOTAL': 3},
 {'GENRE': 'Horror, Sci-Fi, Thriller', 'TOTAL': 1},
 {'GENRE': 'Horror, Thriller', 'TOTAL': 18},
 {'GENRE': 'Music', 'TOTAL': 1},
 {'GENRE': 'Music, Romance', 'TOTAL': 2},
 {'GENRE': 'Musical', 'TOTAL': 9},
 {'GENRE': 'Musical, Action, Drama', 'TOTAL': 3},
 {'GENRE': 'Musical, Comedy, Drama', 'TOTAL': 1},
 {'GENRE': 'Musical, Comedy, Romance', 'TOTAL': 2},
 {'GENRE': 'Musical, Drama', 'TOTAL': 4},
 {'GENRE': 'Musical, Drama, Comedy', 'TOTAL': 1},
 {'GENRE': 'Musical, Drama, Crime', 'TOTAL': 1},
 {'GENRE': 'Musical, Drama, Family', 'TOTAL': 7},
 {'GENRE': 'Musical, Drama, Romance', 'TOTAL': 8},
 {'GENRE': 'Musical, Family, Drama', 'TOTAL': 1},
 {'GENRE': 'Musical, Fantasy', 'TOTAL': 1},
 {'GENRE': 'Musical, Mystery, Drama', 'TOTAL': 2},
 {'GENRE': 'Musical, Mystery, Thriller', 'TOTAL': 2},
 {'GENRE': 'Musical, Romance', 'TOTAL': 40},
 {'GENRE': 'Musical, Romance, Drama', 'TOTAL': 2},
 {'GENRE': 'Musical, Romance, Thriller', 'TOTAL': 4},
 {'GENRE': 'Musical, Thriller', 'TOTAL': 1},
 {'GENRE': 'Musical, Thriller, Mystery', 'TOTAL': 1},
 {'GENRE': 'Mystery', 'TOTAL': 19},
 {'GENRE': 'Mystery, Musical, Romance', 'TOTAL': 1},
 {'GENRE': 'Mystery, Romance', 'TOTAL': 2},
 {'GENRE': 'Mystery, Romance, Musical', 'TOTAL': 1},
 {'GENRE': 'Mystery, Romance, Thriller', 'TOTAL': 5},
 {'GENRE': 'Mystery, Sci-Fi', 'TOTAL': 1},
 {'GENRE': 'Mystery, Sci-Fi, Thriller', 'TOTAL': 1},
 {'GENRE': 'Mystery, Thriller', 'TOTAL': 29},
 {'GENRE': 'Romance', 'TOTAL': 126},
 {'GENRE': 'Romance, Action, Crime', 'TOTAL': 1},
 {'GENRE': 'Romance, Action, Drama', 'TOTAL': 1},
 {'GENRE': 'Romance, Comedy', 'TOTAL': 2},
 {'GENRE': 'Romance, Comedy, Drama', 'TOTAL': 3},
 {'GENRE': 'Romance, Drama', 'TOTAL': 6},
 {'GENRE': 'Romance, Drama, Family', 'TOTAL': 2},
 {'GENRE': 'Romance, Musical, Action', 'TOTAL': 1},
 {'GENRE': 'Romance, Musical, Comedy', 'TOTAL': 1},
 {'GENRE': 'Romance, Musical, Drama', 'TOTAL': 1},
 {'GENRE': 'Romance, Sci-Fi, Thriller', 'TOTAL': 1},
 {'GENRE': 'Romance, Thriller', 'TOTAL': 12},
 {'GENRE': 'Romance, Thriller, Mystery', 'TOTAL': 2},
 {'GENRE': 'Sci-Fi', 'TOTAL': 3},
 {'GENRE': 'Sci-Fi, Thriller', 'TOTAL': 1},
 {'GENRE': 'Sport', 'TOTAL': 2},
 {'GENRE': 'Thriller', 'TOTAL': 84},
 {'GENRE': 'Thriller, Action', 'TOTAL': 1},
 {'GENRE': 'Thriller, Musical, Mystery', 'TOTAL': 1},
 {'GENRE': 'Thriller, Mystery', 'TOTAL': 2},
 {'GENRE': 'Thriller, Mystery, Family', 'TOTAL': 1},
 {'GENRE': 'War', 'TOTAL': 3}]

<h3>11,12撰寫 SQL AGGREATION 語句，計算各 Rating 中之樣本數，記錄在 Jupyter Markdown 中</h3>

In [93]:
_sql4 = [
    "SELECT Rating,COUNT(Rating) AS sum",
    "FROM MOVIE",
    "GROUP BY Rating"
]  

dbCursor.execute(' '.join(_sql4))
resultSet = dbCursor.fetchall()

rows = {
    'Rating': [],
    'SUM': []
}

for row in resultSet:
    rows['Rating'].append(row[0])
    rows['SUM'].append(row[1])

results = pandas.DataFrame(data=rows).set_index(['Rating'])

results

        SUM
Rating
1.1       2
1.4       2
1.6       4
1.7      10
1.8       8
...     ...
9.1       8
9.2       4
9.3      14
9.4       6
9.7       2

[83 rows x 1 columns]

<h3>13,14撰寫 AQL AGGREATION 語句，計算各 Rating 中之樣本數，記錄在 Jupyter Markdown 中</h3>

In [107]:
aql='FOR doc IN StockInfo2 COLLECT Rating= doc.`Rating` AGGREGATE Total = COUNT(doc.`Rating`) RETURN { "RATING": Rating, "TOTAL": Total}'
sub_collections=db.AQLQuery(aql, rawResults=False, batchSize=30000) #false結構化,資料子集合
#print('筆數: %d' % len(sub_collections.response['result']))
sub_collections.response['result']

[{'RATING': 1.1, 'TOTAL': 1},
 {'RATING': 1.4, 'TOTAL': 1},
 {'RATING': 1.6, 'TOTAL': 2},
 {'RATING': 1.7, 'TOTAL': 5},
 {'RATING': 1.8, 'TOTAL': 4},
 {'RATING': 1.9, 'TOTAL': 5},
 {'RATING': 2, 'TOTAL': 2},
 {'RATING': 2.1, 'TOTAL': 6},
 {'RATING': 2.2, 'TOTAL': 4},
 {'RATING': 2.3, 'TOTAL': 11},
 {'RATING': 2.4, 'TOTAL': 15},
 {'RATING': 2.5, 'TOTAL': 18},
 {'RATING': 2.6, 'TOTAL': 14},
 {'RATING': 2.7, 'TOTAL': 26},
 {'RATING': 2.8, 'TOTAL': 19},
 {'RATING': 2.9, 'TOTAL': 20},
 {'RATING': 3, 'TOTAL': 11},
 {'RATING': 3.1, 'TOTAL': 30},
 {'RATING': 3.2, 'TOTAL': 30},
 {'RATING': 3.3, 'TOTAL': 41},
 {'RATING': 3.4, 'TOTAL': 37},
 {'RATING': 3.5, 'TOTAL': 46},
 {'RATING': 3.6, 'TOTAL': 52},
 {'RATING': 3.7, 'TOTAL': 51},
 {'RATING': 3.8, 'TOTAL': 62},
 {'RATING': 3.9, 'TOTAL': 52},
 {'RATING': 4, 'TOTAL': 54},
 {'RATING': 4.1, 'TOTAL': 61},
 {'RATING': 4.2, 'TOTAL': 84},
 {'RATING': 4.3, 'TOTAL': 72},
 {'RATING': 4.4, 'TOTAL': 90},
 {'RATING': 4.5, 'TOTAL': 86},
 {'RATING': 4.6, 'TOTAL': 98},
 {'RATING': 4.7, 'TOTAL': 86},
 {'RATING': 4.8, 'TOTAL': 100},
 {'RATING': 4.9, 'TOTAL': 87},
 {'RATING': 5, 'TOTAL': 99},
 {'RATING': 5.1, 'TOTAL': 119},
 {'RATING': 5.2, 'TOTAL': 101},
 {'RATING': 5.3, 'TOTAL': 129},
 {'RATING': 5.4, 'TOTAL': 143},
 {'RATING': 5.5, 'TOTAL': 115},
 {'RATING': 5.6, 'TOTAL': 143},
 {'RATING': 5.7, 'TOTAL': 146},
 {'RATING': 5.8, 'TOTAL': 139},
 {'RATING': 5.9, 'TOTAL': 115},
 {'RATING': 6, 'TOTAL': 138},
 {'RATING': 6.1, 'TOTAL': 156},
 {'RATING': 6.2, 'TOTAL': 190},
 {'RATING': 6.3, 'TOTAL': 152},
 {'RATING': 6.4, 'TOTAL': 150},
 {'RATING': 6.5, 'TOTAL': 192},
 {'RATING': 6.6, 'TOTAL': 163},
 {'RATING': 6.7, 'TOTAL': 159},
 {'RATING': 6.8, 'TOTAL': 200},
 {'RATING': 6.9, 'TOTAL': 161},
 {'RATING': 7, 'TOTAL': 154},
 {'RATING': 7.1, 'TOTAL': 163},
 {'RATING': 7.2, 'TOTAL': 158},
 {'RATING': 7.3, 'TOTAL': 127},
 {'RATING': 7.4, 'TOTAL': 117},
 {'RATING': 7.5, 'TOTAL': 96},
 {'RATING': 7.6, 'TOTAL': 103},
 {'RATING': 7.7, 'TOTAL': 71},
 {'RATING': 7.8, 'TOTAL': 64},
 {'RATING': 7.9, 'TOTAL': 53},
 {'RATING': 8, 'TOTAL': 56},
 {'RATING': 8.1, 'TOTAL': 52},
 {'RATING': 8.2, 'TOTAL': 43},
 {'RATING': 8.3, 'TOTAL': 21},
 {'RATING': 8.4, 'TOTAL': 18},
 {'RATING': 8.5, 'TOTAL': 12},
 {'RATING': 8.6, 'TOTAL': 16},
 {'RATING': 8.7, 'TOTAL': 8},
 {'RATING': 8.8, 'TOTAL': 6},
 {'RATING': 8.9, 'TOTAL': 5},
 {'RATING': 9, 'TOTAL': 5},
 {'RATING': 9.1, 'TOTAL': 4},
 {'RATING': 9.2, 'TOTAL': 2},
 {'RATING': 9.3, 'TOTAL': 7},
 {'RATING': 9.4, 'TOTAL': 3},
 {'RATING': 9.7, 'TOTAL': 1},
 {'RATING': 10, 'TOTAL': 1}]

<h3>撰寫 Python 分析程式，哪些 Director 所拍攝電影之 Rating 最高</h3>

In [78]:
d_max = None

for i in range(data.shape[0]):
 
    _max = data[data['Rating']==data['Rating'].max()]
d_max = pandas.concat([d_max, _max])
d_max

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3,ID
3146,Love Qubool Hai,2020,94,"Drama, Romance",10.0,5,Saif Ali Sayeed,Ahaan Jha,Mahesh Narayan,Rajasree Rajakumari,MOV3147

In [25]:
dbCursor.close()
dbConnection.close()