In [2]:
import pandas
from glob import glob

<h1>取得資料檔案群</h1>

In [3]:
data_folder = 'C:/Users/user/anaconda3/Projects/data/IBM-Stocks'
#檔案路徑設定

data_files = glob('%s/IBM-20??.csv' % data_folder)

data_files

['C:/Users/user/anaconda3/Projects/data/IBM-Stocks\\IBM-2017.csv',
 'C:/Users/user/anaconda3/Projects/data/IBM-Stocks\\IBM-2018.csv',
 'C:/Users/user/anaconda3/Projects/data/IBM-Stocks\\IBM-2019.csv',
 'C:/Users/user/anaconda3/Projects/data/IBM-Stocks\\IBM-2020.csv',
 'C:/Users/user/anaconda3/Projects/data/IBM-Stocks\\IBM-2021.csv']

<h3>載入資料檔</h3>

In [4]:
dataframe_2017 = pandas.read_csv(data_files[0])

<h3>顯示部分資料</h3>

In [5]:
dataframe_2017.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-03,167.000000,167.869995,166.009995,167.190002,134.699081,2934300
1,2017-01-04,167.770004,169.869995,167.360001,169.259995,136.366806,3381400
2,2017-01-05,169.250000,169.389999,167.259995,168.699997,135.915649,2682300
3,2017-01-06,168.690002,169.919998,167.520004,169.529999,136.584320,2945500
4,2017-01-09,169.470001,169.800003,167.619995,167.649994,135.069672,3189900

<h3>顯示資料欄位名稱</h3>

In [6]:
dataframe_2017.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

<h3>顯示欄位資料型態</h3>

In [7]:
dataframe_2017.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

<h3>變更欄位名稱</h3>

In [8]:
dataframe_2017.rename(columns={
    'Date': 'StockDate', 
    'Open': 'StockOpen', 
    'High': 'StockHigh', 
    'Low': 'StockLow', 
    'Close': 'StockClose', 
    'Adj Close': 'StockAdjClose', 
    'Volume': 'StockVol'
}, inplace=True)

dataframe_2017.columns

Index(['StockDate', 'StockOpen', 'StockHigh', 'StockLow', 'StockClose',
       'StockAdjClose', 'StockVol'],
      dtype='object')

<h3>增加新常數資料欄位</h3>

In [9]:
dataframe_2017['StockID'] = 'IBM'

<h3>顯示資料欄位名稱</h3>

In [10]:
dataframe_2017.tail(8)

,StockDate,StockOpen,StockHigh,StockLow,StockClose,StockAdjClose,StockVol,StockID
243,2017-12-19,154.050003,154.169998,153.089996,153.229996,128.240234,4116400,IBM
244,2017-12-20,153.649994,153.889999,152.779999,152.949997,128.005936,3785700,IBM
245,2017-12-21,153.169998,153.460007,151.490005,151.500000,126.792397,4153900,IBM
246,2017-12-22,151.820007,153.000000,151.500000,152.500000,127.629303,2990600,IBM
247,2017-12-26,152.509995,153.860001,152.500000,152.830002,127.905518,2479000,IBM
248,2017-12-27,152.949997,153.179993,152.610001,153.130005,128.156570,2149300,IBM
249,2017-12-28,153.199997,154.119995,153.199997,154.039993,128.918182,2687600,IBM
250,2017-12-29,154.169998,154.720001,153.419998,153.419998,128.399277,3327100,IBM

<h3>計算欄位資料</h3>

In [12]:
dataframe_2017['StockVol'] = dataframe_2017['StockVol'] / 1000.0
dataframe_2017.tail(8)

,StockDate,StockOpen,StockHigh,StockLow,StockClose,StockAdjClose,StockVol,StockID
243,2017-12-19,154.050003,154.169998,153.089996,153.229996,128.240234,4.1164,IBM
244,2017-12-20,153.649994,153.889999,152.779999,152.949997,128.005936,3.7857,IBM
245,2017-12-21,153.169998,153.460007,151.490005,151.500000,126.792397,4.1539,IBM
246,2017-12-22,151.820007,153.000000,151.500000,152.500000,127.629303,2.9906,IBM
247,2017-12-26,152.509995,153.860001,152.500000,152.830002,127.905518,2.4790,IBM
248,2017-12-27,152.949997,153.179993,152.610001,153.130005,128.156570,2.1493,IBM
249,2017-12-28,153.199997,154.119995,153.199997,154.039993,128.918182,2.6876,IBM
250,2017-12-29,154.169998,154.720001,153.419998,153.419998,128.399277,3.3271,IBM

<h3>顯示欄位資料型態</h3>

In [13]:
dataframe_2017.dtypes

StockDate         object
StockOpen        float64
StockHigh        float64
StockLow         float64
StockClose       float64
StockAdjClose    float64
StockVol         float64
StockID           object
dtype: object

<h3>指派資料索引鍵值</h3>

In [17]:
dataframe_2018 = dataframe_2017.set_index(['StockID', 'StockDate'])
dataframe_2018

                     StockOpen   StockHigh    StockLow  StockClose  \
StockID StockDate
IBM     2017-01-03  167.000000  167.869995  166.009995  167.190002
        2017-01-04  167.770004  169.869995  167.360001  169.259995
        2017-01-05  169.250000  169.389999  167.259995  168.699997
        2017-01-06  168.690002  169.919998  167.520004  169.529999
        2017-01-09  169.470001  169.800003  167.619995  167.649994
...                        ...         ...         ...         ...
        2017-12-22  151.820007  153.000000  151.500000  152.500000
        2017-12-26  152.509995  153.860001  152.500000  152.830002
        2017-12-27  152.949997  153.179993  152.610001  153.130005
        2017-12-28  153.199997  154.119995  153.199997  154.039993
        2017-12-29  154.169998  154.720001  153.419998  153.419998

                    StockAdjClose  StockVol
StockID StockDate
IBM     2017-01-03     134.699081    2.9343
        2017-01-04     136.366806    3.3814
        2017-01-05     135.915649    2.6823
        2017-01-06     136.584320    2.9455
        2017-01-09     135.069672    3.1899
...                           ...       ...
        2017-12-22     127.629303    2.9906
        2017-12-26     127.905518    2.4790
        2017-12-27     128.156570    2.1493
        2017-12-28     128.918182    2.6876
        2017-12-29     128.399277    3.3271

[251 rows x 6 columns]

In [18]:
dataframe_2017.set_index(['StockDate', 'StockID'])

,,StockOpen,StockHigh,StockLow,StockClose,StockAdjClose,StockVol
StockDate,StockID,,,,,,
2017-01-03,IBM,167.000000,167.869995,166.009995,167.190002,134.699081,2.9343
2017-01-04,IBM,167.770004,169.869995,167.360001,169.259995,136.366806,3.3814
2017-01-05,IBM,169.250000,169.389999,167.259995,168.699997,135.915649,2.6823
2017-01-06,IBM,168.690002,169.919998,167.520004,169.529999,136.584320,2.9455
2017-01-09,IBM,169.470001,169.800003,167.619995,167.649994,135.069672,3.1899
...,...,...,...,...,...,...,...
2017-12-22,IBM,151.820007,153.000000,151.500000,152.500000,127.629303,2.9906
2017-12-26,IBM,152.509995,153.860001,152.500000,152.830002,127.905518,2.4790
2017-12-27,IBM,152.949997,153.179993,152.610001,153.130005,128.156570,2.1493
2017-12-28,IBM,153.199997,154.119995,153.199997,154.039993,128.918182,2.6876
2017-12-29,IBM,154.169998,154.720001,153.419998,153.419998,128.399277,3.3271

In [19]:
dataframe_2018

                     StockOpen   StockHigh    StockLow  StockClose  \
StockID StockDate
IBM     2017-01-03  167.000000  167.869995  166.009995  167.190002
        2017-01-04  167.770004  169.869995  167.360001  169.259995
        2017-01-05  169.250000  169.389999  167.259995  168.699997
        2017-01-06  168.690002  169.919998  167.520004  169.529999
        2017-01-09  169.470001  169.800003  167.619995  167.649994
...                        ...         ...         ...         ...
        2017-12-22  151.820007  153.000000  151.500000  152.500000
        2017-12-26  152.509995  153.860001  152.500000  152.830002
        2017-12-27  152.949997  153.179993  152.610001  153.130005
        2017-12-28  153.199997  154.119995  153.199997  154.039993
        2017-12-29  154.169998  154.720001  153.419998  153.419998

                    StockAdjClose  StockVol
StockID StockDate
IBM     2017-01-03     134.699081    2.9343
        2017-01-04     136.366806    3.3814
        2017-01-05     135.915649    2.6823
        2017-01-06     136.584320    2.9455
        2017-01-09     135.069672    3.1899
...                           ...       ...
        2017-12-22     127.629303    2.9906
        2017-12-26     127.905518    2.4790
        2017-12-27     128.156570    2.1493
        2017-12-28     128.918182    2.6876
        2017-12-29     128.399277    3.3271

[251 rows x 6 columns]

<h3>變更資料欄位順序</h3>

In [20]:
new_columns = [
    'StockID', 'StockDate', 'StockOpen', 'StockHigh', 'StockLow', 'StockClose',
    'StockAdjClose', 'StockVol'
]

dataframe_2017[new_columns].head()

,StockID,StockDate,StockOpen,StockHigh,StockLow,StockClose,StockAdjClose,StockVol
0,IBM,2017-01-03,167.000000,167.869995,166.009995,167.190002,134.699081,2.9343
1,IBM,2017-01-04,167.770004,169.869995,167.360001,169.259995,136.366806,3.3814
2,IBM,2017-01-05,169.250000,169.389999,167.259995,168.699997,135.915649,2.6823
3,IBM,2017-01-06,168.690002,169.919998,167.520004,169.529999,136.584320,2.9455
4,IBM,2017-01-09,169.470001,169.800003,167.619995,167.649994,135.069672,3.1899

<h3>寫入資料檔</h3>

In [21]:
dataframe_2017[new_columns].to_hdf('%s/IBM.h5' % data_folder, key='IBM2017', mode='w')
#hdf檔案(位址,檔名,模式)